Electronics/RC-ELEC-05_HardDrive/HardDriveImage/SeniorProjectBlankXPHD.img
Firmware/firmware/app.elf
Firmware/firmware/app.elf.ver
Firmware/firmware/app.map
*.o
*.d
*.obj
*.tlog
*.htm
*.dep
*.res
*.log
*.ilk
*.lastbuildstate
*.pch
*.idb
TestApplication/ReaderControlPanel/Debug/vc110.pdb
*.aps
*.map
*.ncb
*.ncb
*.sdf
*.sdf
*.suo
TestApplication/ReaderControlPanel/ReaderControlPanel.vcproj
TestApplication/ReaderControlPanel/ReaderControlPanel.vcproj.vspscc
TestApplication/ReaderControlPanel/ReaderControlPanel.vcproj.vspscc
*.dtd
*.css
*.html
*.ngc
*.ngc
Firmware/fpga/__xps/system_routed
*.opt
Firmware/fpga/__xps/application_compiler.opt
Firmware/fpga/__xps/bootloader_compiler.opt
Firmware/fpga/__xps/.dswkshop/system_shapes.xml
*.opt
*.xsl
Firmware/fpga/system_incl.make
Firmware/fpga/synthesis/xlnx_auto_0_xdb/tmp/ise/__REGISTRY__/_ProjRepoInternal_/regkeys
Firmware/fpga/synthesis/xlnx_auto_0_xdb/tmp/ise/__REGISTRY__/STE/regkeys
Firmware/fpga/synthesis/xlnx_auto_0_xdb/tmp/ise/__REGISTRY__/HierarchicalDesign/HDProject/regkeys
Firmware/fpga/synthesis/xlnx_auto_0_xdb/tmp/ise/version
Firmware/fpga/synthesis/xlnx_auto_0.ise
*.scr
Firmware/fpga/synthesis/system_wrapper_xst.prj
*.srp
*.ngc
Firmware/fpga/implementation/xlnx_auto_0_xdb/tmp/ise/__REGISTRY__/STE/trce/regkeys
Firmware/fpga/implementation/xlnx_auto_0_xdb/tmp/ise/__REGISTRY__/STE/bitgen/regkeys
Firmware/fpga/implementation/system_par.xrpt
Firmware/fpga/implementation/system_pad.csv
Firmware/fpga/implementation/system_pad.txt
Firmware/fpga/implementation/system.xpi
*.twx
*.twr
*.ptwx
*.unroutes
*.pad
*.ncd
*.bgn
Firmware/fpga/implementation/system.drc
*.vhd
Firmware/fpga/hdl/ddr2_sdram_wrapper.v

# Created by https://www.gitignore.io

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/


### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


### C ###
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/


### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


### Linux ###
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
Firmware/fpga/__xps/system.gui
*.mk
*.vhdPreview
Firmware/firmware/app.dmp
Firmware/firmware/app_image.bin
Firmware/firmware/app_vectors.bin
Firmware/fpga/implementation/download.bit
Firmware/herbert_scb.bin
Firmware/herbert_scb.bin.md5
Firmware/herbert_scb.bin.ver
Firmware/herbert_scb_DBLMotorTest.bin

# Sample Images
ImageProcessing/*.bmp