Electronics/RC-ELEC-05_HardDrive/HardDriveImage/SeniorProjectBlankXPHD.img
Firmware/firmware/app.elf
Firmware/firmware/app.elf.ver
Firmware/firmware/app.map
*.o
*.d
*.obj
*.tlog
*.htm
*.dep
*.res
*.log
*.ilk
*.lastbuildstate
*.pch
*.idb
TestApplication/ReaderControlPanel/Debug/vc110.pdb
*.aps
*.map
*.ncb
*.ncb
*.sdf
*.sdf
*.suo
TestApplication/ReaderControlPanel/ReaderControlPanel.vcproj
TestApplication/ReaderControlPanel/ReaderControlPanel.vcproj.vspscc
TestApplication/ReaderControlPanel/ReaderControlPanel.vcproj.vspscc