Electronics/RC-ELEC-05_HardDrive/HardDriveImage/SeniorProjectBlankXPHD.img
Firmware/firmware/app.elf
Firmware/firmware/app.elf.ver
Firmware/firmware/app.map
*.o
*.d
*.obj
*.tlog
*.htm
*.dep
*.res
*.log
*.ilk
*.lastbuildstate
*.pch
*.idb
TestApplication/ReaderControlPanel/Debug/vc110.pdb
*.aps
*.map
*.ncb
*.ncb
*.sdf
*.sdf
*.suo
TestApplication/ReaderControlPanel/ReaderControlPanel.vcproj
TestApplication/ReaderControlPanel/ReaderControlPanel.vcproj.vspscc
TestApplication/ReaderControlPanel/ReaderControlPanel.vcproj.vspscc
*.dtd
*.css
*.html
*.ngc
*.ngc
Firmware/fpga/__xps/system_routed
*.opt
Firmware/fpga/__xps/application_compiler.opt
Firmware/fpga/__xps/bootloader_compiler.opt
Firmware/fpga/__xps/.dswkshop/system_shapes.xml
*.opt
*.xsl
Firmware/fpga/system_incl.make
Firmware/fpga/synthesis/xlnx_auto_0_xdb/tmp/ise/__REGISTRY__/_ProjRepoInternal_/regkeys
Firmware/fpga/synthesis/xlnx_auto_0_xdb/tmp/ise/__REGISTRY__/STE/regkeys
Firmware/fpga/synthesis/xlnx_auto_0_xdb/tmp/ise/__REGISTRY__/HierarchicalDesign/HDProject/regkeys
Firmware/fpga/synthesis/xlnx_auto_0_xdb/tmp/ise/version
Firmware/fpga/synthesis/xlnx_auto_0.ise
*.scr
Firmware/fpga/synthesis/system_wrapper_xst.prj
*.srp
*.ngc
Firmware/fpga/implementation/xlnx_auto_0_xdb/tmp/ise/__REGISTRY__/STE/trce/regkeys
Firmware/fpga/implementation/xlnx_auto_0_xdb/tmp/ise/__REGISTRY__/STE/bitgen/regkeys
Firmware/fpga/implementation/system_par.xrpt
Firmware/fpga/implementation/system_pad.csv
Firmware/fpga/implementation/system_pad.txt
Firmware/fpga/implementation/system.xpi
*.twx
*.twr
*.ptwx
*.unroutes
*.pad
*.ncd
*.bgn
Firmware/fpga/implementation/system.drc
*.vhd
Firmware/fpga/hdl/ddr2_sdram_wrapper.v
*.prj
*.xrpt
Firmware/firmware/app.dmp
*.svg